<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.springbootjdbc.mapper.empMapper">
    <select id="getEmployeeById" resultType="com.lc.springbootjdbc.bean.employee">
        select * from employee where id = #{id}
    </select>

    <insert id="addEmployee">
        insert into employee(lastName,email,gender,d_id) VALUES (#{lastName},#{email},#{gender},#{d_id})
    </insert>
</mapper>